---
import Layout from "../layouts/Layout.astro";

import WateredPlant from "../img/WateredPlant.png";
import BodyPic from "../img/1BodyPic.png";
import BodyPic2 from "../img/BodyPic22.png";
import BodyPic3 from "../img/TaRebatePic.png";
---

<script>
    import { gsap } from "gsap";
    import { Flip } from "gsap/Flip";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    import { Observer } from "gsap/Observer";
    import { ScrollToPlugin } from "gsap/ScrollToPlugin";
    import { Draggable } from "gsap/Draggable";
    import { MotionPathPlugin } from "gsap/MotionPathPlugin";
    import { EaselPlugin } from "gsap/EaselPlugin";
    import { PixiPlugin } from "gsap/PixiPlugin";
    import { TextPlugin } from "gsap/TextPlugin";
document.addEventListener('astro:page-load', () => {
    // This only runs once.
    let listOfEcoWrods=[
        'roof',
        'lightbulb',
        'car',
        'house',
        'garden',
        'dishwasher',
        'washing machine',
        'fridge',
        'oven',
        'shower',
        'air conditioner'
    ] 

    // change the word with a slight transition
    function changeWord(){
        let word = document.getElementById('changedWord') as HTMLSpanElement
        let randomWord = listOfEcoWrods[Math.floor(Math.random() * listOfEcoWrods.length)]
        word.classList.add('transition-all', 'duration-500', 'ease-in-out', 'transform', 'scale-0')
        setTimeout(() => {
            word.innerText = randomWord
            word.classList.remove('scale-0')
        }, 500);
    }

    // change the word every 5 seconds
    setInterval(() => {
        changeWord()
    }, 5000);

    // skew the image so taht it seems like it is rotating according to the mouse position
    let AGIMG = document.getElementById('AGIMG') as HTMLImageElement
    let AG = document.getElementById('AG') as HTMLDivElement
    AG.addEventListener('mousemove', (e) => {
        let x = e.clientX
        let y = e.clientY
        let width = AG.clientWidth
        let height = AG.clientHeight
        let xPercent = x / width
        let yPercent = y / height
        let xSkew = xPercent * 10 - 10
        let ySkew = yPercent * 10 - 5
        AGIMG.style.transform = `skew(${ySkew}deg, ${xSkew}deg)`
    })

    
    
    gsap.registerPlugin(Flip,ScrollTrigger,Observer,ScrollToPlugin,Draggable,MotionPathPlugin,EaselPlugin,PixiPlugin,TextPlugin);

    gsap.from('.body1', {
        x: 100,
        duration: 0.5,
        opacity: 0,
        scrollTrigger: {
            trigger: '.body1',
            start: 'top center', // Trigger point
            end: 'bottom center', // End point
        },
    });
    gsap.fromTo('.body2', {
        x: -100,
        duration: 0.5,
        opacity: 0,
    }, {
        x: 0,
        duration: 0.5,
        opacity: 1,
        scrollTrigger: {
            trigger: '.body2',
            start: 'top center', // Trigger point
            end: 'bottom center', // End point
        },
    });

    gsap.fromTo('#body3', {
        x: 100,
        duration: 0.5,
        opacity: 0,
    }, {
        x: 0,
        duration: 0.5,
        opacity: 1,
        scrollTrigger: {
            trigger: '#body3',
            start: 'top center', // Trigger point
            end: 'bottom center', // End point
        },
    });

    gsap.to('#AG', {
        opacity: 0,
        scrollTrigger: {
            trigger: '#AG',
            start: 'left', // Trigger point
            end: 'center', // End point
            scrub: true,
        },
    });

    // scale the green rectangle up as you scroll
    gsap.to('#smallGreenRect',{
        scale: 100,
        scrollTrigger: {
            trigger: '#body2',
            start: 'left', // Trigger point
            end: 'bottom center', // End point
            scrub: true,
        },
    })

    // make each box appear one after the other from the top fading in
    gsap.from('#rbox1', {
        y: -100,
        opacity: 0,
        duration: 0.3,
        delay: 0,
        scrollTrigger: {
            trigger: '#rbox1',
            start: 'top center', // Trigger point
            end: 'bottom center', // End point
        },
    });
    gsap.from('#rbox2', {
        y: -100,
        opacity: 0,
        duration: 0.3,
        delay: 0.3,
        scrollTrigger: {
            trigger: '#rbox2',
            start: 'top center', // Trigger point
            end: 'bottom center', // End point
        },
    });
    gsap.from('#rbox3', {
        y: -100,
        opacity: 0,
        duration: 0.3,
        delay: 0.6,
        scrollTrigger: {
            trigger: '#rbox3',
            start: 'top center', // Trigger point
            end: 'bottom center', // End point
        },
    });
    gsap.from('#rbox4', {
        y: -100,
        opacity: 0,
        duration: 0.3,
        delay: 0.9,
        scrollTrigger: {
            trigger: '#rbox4',
            start: 'top center', // Trigger point
            end: 'bottom center', // End point
        },
    });

    // animate the WWO text
    gsap.fromTo('#WWO', {
        opacity: 0,
        y: -100,
    }, {
        opacity: 1,
        y: 0,
        duration: 0.5,
        scrollTrigger: {
            trigger: '#WWO',
            start: 'top center', // Trigger point
            end: 'bottom center', // End point
        },
    });

    // animate the quote
    gsap.fromTo('#quote1', {
        opacity: 0,
        y: -100,
    }, {
        opacity: 1,
        y: 0,
        duration: 0.5,
        scrollTrigger: {
            trigger: '#quote1Trigger',
            start: 'top center', // Trigger point
            end: 'bottom center', // End point
        },
    });

    // animate the testimonials using fromTo

    gsap.fromTo('#row1', {
        x: -100,
    }, {
        opacity: 1,
        x: 0,
        duration: 0.5,
        scrollTrigger: {
            trigger: '#row1',
            start: 'top center', // Trigger point
            end: 'bottom center', // End point
            scrub: true,
        },
    });

    gsap.fromTo('#row2', {
        x: 100,
    }, {
        opacity: 1,
        x: 0,
        duration: 0.5,
        scrollTrigger: {
            trigger: '#row2',
            start: 'top center', // Trigger point
            end: 'bottom center', // End point
            scrub: true,
        },
    });

    gsap.fromTo('#row3', {
        x: -100,
    }, {
        opacity: 1,
        x: 0,
        duration: 0.5,
        scrollTrigger: {
            trigger: '#row3',
            start: 'top center', // Trigger point
            end: 'bottom center', // End point
            scrub: true,
        },
    });

    // animate the CTA button
    gsap.to('#CTABtn',{
        opacity: 1,
        scale:1,
        scrollTrigger: {
            trigger: '#WWO',
            start: 'left', // Trigger point
            end: 'bottom center', // End point
        },
    })
}, { once: false})
</script>

<Layout title="GreenBeen">
    <div class="w-[100vw] h-[100vh] p-10 flex sticky top-0" id="AG">
        <div class="w-[50vw]">
            <h1 class='text-4xl font-medium'><span class="text-green-700">Green</span><span class="text-amber-600">Been</span></h1>
            <p class="text-xl pt-5">Saving the environment one <span id="changedWord" class="text-green-700 transition-all ease-in-out transform scale-0 w-96">roof</span> at a time 🌿</p>

            <p class="text-xl pt-5 pb-10">GreenBeen is a website that helps you find the best eco-friendly products for your home. We have a wide range of products that are eco-friendly and sustainable.</p>
            <a id="CTABtn" href="/" class=""><button class="bg-green-400 transition-colors ease-in-out outline p-3 rounded-full text-base">
                Go green today!
            </button></a>
        </div>
        <div class="w-[35vw] hidden sm:block">
            <img src={WateredPlant.src} alt="hero" class="w-[35vw] transition-all ease-out" id="AGIMG"/>
        </div>
    </div>
    <div id="body1" class="body1 flex flex-wrap justify-evenly h-auto">
        <div id="" class="h-[40vh] w-[40vw]">
            <img src={BodyPic.src} alt="hero" class="w-[40vw] transition-all ease-out" id="AGIMG"/>
        </div>
        <div class='flex flex-wrap justify-evenly w-auto h-[80vh]'>
            <div class="w-[50vw] flex-col mt-9">
                <p class="text-2xl font-semibold">The Importance of Green Energy Initiatives</p>
                <p class="text-lg">The world is at a critical juncture when it comes to environmental sustainability. Green energy initiatives are vital to mitigating the harmful effects of fossil fuels and combating climate change. By adopting renewable energy sources, we can make a significant positive impact on the environment.</p>
            </div>
        </div>
    </div>
    <div id="body2" class="body2 flex flex-wrap justify-evenly h-auto -z-50">
        <div class='flex flex-wrap justify-evenly w-auto h-[80vh]'>
            <div class="w-[50vw] flex-col mt-9">
                <p class="text-2xl font-semibold">Why Choose GreenBeen?</p>
                <p class="text-lg">When you join GreenBeen, you become part of a thriving community dedicated to a greener, more sustainable future. Our website is regularly updated with the most current information, news, and trends in green energy and sustainability. Sign up for our newsletter to stay informed and connect with like-minded individuals who share your enthusiasm for eco-friendly living.</p>
            </div>
        </div>
        <div class="h-[40vh] w-[40vw]">
            <img src={BodyPic2.src} alt="hero" class="w-[40vw] transition-all ease-out" id="AGIMG"/>
        </div>
    </div>
    <div class="w-10 h-10 bg-green-600 rounded-full fixed z-0" id="smallGreenRect"></div>
    <div>
        <p class="text-center pb-10 text-4xl font-medium text-white z-50" id="WWO">What We Offer</p>
        <div class="flex flex-wrap justify-evenly h-auto sm:h-80 gap-10 z-10">
            <div class="w-52 h-64 rounded-lg bg-slate-400 text-center pt-40 p-2" id="rbox1">
                <p>Renewable Energy Programs</p> 
            </div>
            <div class="w-52 h-64 rounded-lg bg-slate-400 text-center pt-40 p-2" id="rbox2">
                <p>Cost Insights</p>
            </div>
            <div class="w-52 h-64 rounded-lg bg-slate-400 text-center pt-40 p-2" id="rbox3">
                <p>Green and Clean Energy Practices</p>
            </div>
            <div class="w-52 h-64 rounded-lg bg-slate-400 text-center pt-40 p-2" id="rbox4">
                <p>Sustainability Tips</p>
            </div>
        </div>
    </div>
    <div id="body3" class="flex flex-wrap justify-evenly h-auto z-10">
        <div class="h-[40vh] w-[40vw]">
            <img src={BodyPic3.src} alt="hero" class="w-[40vw] transition-all ease-out rounded-xl" id="AGIMG"/>
        </div>
        <div class='flex flex-wrap justify-evenly w-auto'>
            <div class="w-[50vw] flex-col mt-9 h-96">
                <p class="text-2xl font-semibold">Tax Rebate</p>
                <p class="text-lg">Discover the numerous tax incentives offered by governments to homeowners who invest in green and clean energy solutions. Our comprehensive guides will help you navigate these rebate programs, ensuring you maximize your savings while making a significant contribution to the environment.</p>
                <div class="flex mt-8"> 
                    <button class=" align-middle pr-2 underline underline-offset-4">
                        Learn More
                    </button>
                    <svg width="50" height="50" viewBox="0 0 114 114" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="57" cy="57" r="57" fill="#9498FF"/>
                        <path d="M60.1901 66.7656L59.05 68.4088L60.0977 69.1358L61.1988 68.4926L60.1901 66.7656ZM81.1903 54.5001L80.1908 52.7677L80.1816 52.7731L81.1903 54.5001ZM96.122 47.5182C96.4082 46.4514 95.7754 45.3545 94.7086 45.0683L77.3234 40.4041C76.2565 40.1179 75.1597 40.7507 74.8734 41.8175C74.5872 42.8844 75.22 43.9813 76.2869 44.2675L91.7404 48.4134L87.5945 63.8669C87.3083 64.9338 87.9411 66.0306 89.0079 66.3169C90.0748 66.6031 91.1716 65.9703 91.4579 64.9034L96.122 47.5182ZM38.1902 51.5004L39.3303 49.8573L38.1025 49.0053L36.9375 49.9413L38.1902 51.5004ZM61.1988 68.4926L82.199 56.2271L80.1816 52.7731L59.1815 65.0386L61.1988 68.4926ZM82.1898 56.2325L95.1898 48.7323L93.1909 45.2676L80.1908 52.7678L82.1898 56.2325ZM20.4428 68.3247L39.4428 53.0596L36.9375 49.9413L17.9375 65.2065L20.4428 68.3247ZM37.05 53.1436L59.05 68.4088L61.3303 65.1224L39.3303 49.8573L37.05 53.1436Z" fill="black"/>
                    </svg>   
                </div>
            </div>
        </div>
    </div>
    <div id="quote1Trigger" class="flex flex-wrap justify-evenly w-auto mt-24 mb-24">
        <div id="quote1" class="flex flex-wrap justify-evenly h-auto">
            <div class="w-[50vw] flex-col mt-9">
                <p class="text-2xl font-semibold">"Time is the currency of change, and <span class="underline underline-offset-3 decoration-4 decoration-yellow-400">every moment we delay is another opportunity missed</span> to make a positive impact on our environment. The world needs your action today, so that together, we can create a future where clean energy, sustainability, and eco-conscious living are not just options but a way of life. Don't wait. Take that first step towards a greener and more prosperous tomorrow, for you, your family, and the generations to come."</p>
                <p class="text-lg">- Mayc Buban (CEO of GreenBeen)</p>
            </div>
            </div>
    </div>
    <div id="testimonials" class="flex flex-col">
        <p class="text-center pb-5 text-4xl font-medium text-white z-10" id="WWO">What Our Customers Are Saying</p>
        <div class="flex flex-row h-auto w-screen gap-5 pt-20 justify-center" id="row1">
            <!-- create a bunch of rectangles -->
            <div class="w-60 rounded-lg h-auto bg-white text-left p-4" id="rbox1">
                <p>GreenBeen helped me understand the tax rebates available for my solar panel installation. Thanks to their guidance, I not only reduced my carbon footprint but also enjoyed significant savings on my taxes!</p>
                <p class="text-right font-bold">- Sarah W. (Homeowner)</p>
            </div>
            <div class="w-60 rounded-lg h-auto bg-white text-left p-4" id="rbox1">
                <p>The wealth of information on GreenBeen is incredible! I learned about energy-efficient appliances and how they can make a difference. This website is my go-to source for all things green.</p>
                <p class="text-right font-bold">- David H. (Environment Enthusiast)</p>
            </div>
            <div class="w-60 rounded-lg h-auto bg-white text-left p-4" id="rbox1">
                <p>As a mom, I'm committed to teaching my kids about sustainability. GreenBeen's sustainability tips have been invaluable. We've incorporated eco-friendly habits into our daily lives, making a positive impact together!</p>
                <p class="text-right font-bold">- Lisa M. (Eco-Warrior Mom)</p>
            </div>
            <div class="w-60 rounded-lg h-auto bg-white text-left p-4" id="rbox1">
                <p>GreenBeen simplifies complex concepts. Their page on renewable energy programs made it easy for me to choose the right solution for my home. I now proudly use solar power, thanks to their guidance.</p>
                <p class="text-right font-bold">- Robert L. (Renewable Energy Advocate)</p>
            </div>
        </div>
        <div class="flex flex-row h-auto w-screen gap-5 pt-5 justify-center" id="row2">
            <!-- create a bunch of rectangles -->
            <div class="w-60 rounded-lg h-auto bg-white text-left p-4" id="rbox1">
                <p>GreenBeen helped me understand the tax rebates available for my solar panel installation. Thanks to their guidance, I not only reduced my carbon footprint but also enjoyed significant savings on my taxes!</p>
                <p class="text-right font-bold">- Sarah W. (Homeowner)</p>
            </div>
            <div class="w-60 rounded-lg h-auto bg-white text-left p-4" id="rbox1">
                <p>The wealth of information on GreenBeen is incredible! I learned about energy-efficient appliances and how they can make a difference. This website is my go-to source for all things green.</p>
                <p class="text-right font-bold">- David H. (Environment Enthusiast)</p>
            </div>
            <div class="w-60 rounded-lg h-auto bg-white text-left p-4" id="rbox1">
                <p>As a mom, I'm committed to teaching my kids about sustainability. GreenBeen's sustainability tips have been invaluable. We've incorporated eco-friendly habits into our daily lives, making a positive impact together!</p>
                <p class="text-right font-bold">- Lisa M. (Eco-Warrior Mom)</p>
            </div>
            <div class="w-60 rounded-lg h-auto bg-white text-left p-4" id="rbox1">
                <p>GreenBeen simplifies complex concepts. Their page on renewable energy programs made it easy for me to choose the right solution for my home. I now proudly use solar power, thanks to their guidance.</p>
                <p class="text-right font-bold">- Robert L. (Renewable Energy Advocate)</p>
            </div>
        </div>
        <div class="flex flex-row h-auto w-screen gap-5 pt-5 justify-center" id="row3">
            <!-- create a bunch of rectangles -->
            <div class="w-60 rounded-lg h-auto bg-white text-left p-4" id="rbox1">
                <p>GreenBeen helped me understand the tax rebates available for my solar panel installation. Thanks to their guidance, I not only reduced my carbon footprint but also enjoyed significant savings on my taxes!</p>
                <p class="text-right font-bold">- Sarah W. (Homeowner)</p>
            </div>
            <div class="w-60 rounded-lg h-auto bg-white text-left p-4" id="rbox1">
                <p>The wealth of information on GreenBeen is incredible! I learned about energy-efficient appliances and how they can make a difference. This website is my go-to source for all things green.</p>
                <p class="text-right font-bold">- David H. (Environment Enthusiast)</p>
            </div>
            <div class="w-60 rounded-lg h-auto bg-white text-left p-4" id="rbox1">
                <p>As a mom, I'm committed to teaching my kids about sustainability. GreenBeen's sustainability tips have been invaluable. We've incorporated eco-friendly habits into our daily lives, making a positive impact together!</p>
                <p class="text-right font-bold">- Lisa M. (Eco-Warrior Mom)</p>
            </div>
            <div class="w-60 rounded-lg h-auto bg-white text-left p-4" id="rbox1">
                <p>GreenBeen simplifies complex concepts. Their page on renewable energy programs made it easy for me to choose the right solution for my home. I now proudly use solar power, thanks to their guidance.</p>
                <p class="text-right font-bold">- Robert L. (Renewable Energy Advocate)</p>
            </div>
        </div>
    </div>
    <div id="CTO" class="flex flex-col justify-center h-screen z-50">
        <p class="text-center pb-5 text-4xl font-medium text-white" id="WWO">What are you waiting for?</p>
        <a id="CTABtn" href="/" class="mx-auto opacity-0"><button class="bg-[#9498FF] hover:bg-green-400 transition-colors ease-in-out outline p-2 w-40 h-14 rounded-full">
            Go green today!
        </button></a>
    </div>
</Layout>