---
import Layout from "../layouts/Layout.astro";

import WateredPlant from "../img/WateredPlant.png";
import BodyPic from "../img/1BodyPic.png";
import BodyPic2 from "../img/BodyPic22.png";
import BodyPic3 from "../img/TaRebatePic.png";
import CardPic1 from "../img/cardPictures/cardBodyPic1.jpeg";
import CardPic2 from "../img/cardPictures/cardBodyPic2.jpeg";
import CardPic3 from "../img/cardPictures/cardBodyPic3.jpeg";
import CardPic4 from "../img/cardPictures/cardBodyPic4.jpeg";
---

<script>
    import { gsap } from "gsap";
    import { Flip } from "gsap/Flip";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    import { Observer } from "gsap/Observer";
    import { ScrollToPlugin } from "gsap/ScrollToPlugin";
    import { Draggable } from "gsap/Draggable";
    import { MotionPathPlugin } from "gsap/MotionPathPlugin";
    import { EaselPlugin } from "gsap/EaselPlugin";
    import { PixiPlugin } from "gsap/PixiPlugin";
    import { TextPlugin } from "gsap/TextPlugin";
    document.addEventListener('astro:page-load', () => {
        // This only runs once.
        let listOfEcoWrods=[
            'roof',
            'lightbulb',
            'car',
            'house',
            'garden',
            'dishwasher',
            'washing machine',
            'fridge',
            'oven',
            'shower',
            'air conditioner'
        ] 

        // change the word with a slight transition
        function changeWord(){
            let word = document.getElementById('changedWord') as HTMLSpanElement
            let randomWord = listOfEcoWrods[Math.floor(Math.random() * listOfEcoWrods.length)]
            word.classList.add('transition-all', 'duration-500', 'ease-in-out', 'transform', 'scale-0')
            setTimeout(() => {
                word.innerText = randomWord
                word.classList.remove('scale-0')
            }, 800);
        }

        // change the word every 5 seconds
        setInterval(() => {
            changeWord()
        }, 5000);

        // skew the image so taht it seems like it is rotating according to the mouse position
        let AGIMG = document.getElementById('AGIMG') as HTMLImageElement
        let AG = document.getElementById('AG') as HTMLDivElement
        AG.addEventListener('mousemove', (e) => {
            let x = e.clientX
            let y = e.clientY
            let width = AG.clientWidth
            let height = AG.clientHeight
            let xPercent = x / width
            let yPercent = y / height
            let xSkew = xPercent * 10 - 10
            let ySkew = yPercent * 10 - 5
            AGIMG.style.transform = `skew(${ySkew}deg, ${xSkew}deg)`
        })

        
        
        gsap.registerPlugin(Flip,ScrollTrigger,Observer,ScrollToPlugin,Draggable,MotionPathPlugin,EaselPlugin,PixiPlugin,TextPlugin);

        gsap.from('.body1', {
            x: 100,
            duration: 0.5,
            opacity: 0,
            scrollTrigger: {
                trigger: '.body1',
                start: 'top center', // Trigger point
                end: 'bottom center', // End point
            },
        });
        gsap.fromTo('.body2', {
            x: -100,
            duration: 0.5,
            opacity: 0.5,
        }, {
            x: 0,
            duration: 0.5,
            opacity: 1,
            scrollTrigger: {
                trigger: '.body2',
                start: 'top center', // Trigger point
                end: 'bottom center', // End point
            },
        });

        gsap.fromTo('#body3', {
            x: 100,
            duration: 0.5,
            opacity: 0,
        }, {
            x: 0,
            duration: 0.5,
            opacity: 1,
            scrollTrigger: {
                trigger: '#body3',
                start: 'top center', // Trigger point
                end: 'bottom center', // End point
            },
        });

        gsap.fromTo('#body4', {
            x: -100,
            duration: 0.5,
            opacity: 0,
        }, {
            x: 0,
            duration: 0.5,
            opacity: 1,
            scrollTrigger: {
                trigger: '#body4',
                start: 'top center', // Trigger point
                end: 'bottom center', // End point
            },
        });

        gsap.to('#AG', {
            opacity: 0,
            // make it come form the left
            x: -100,
            scrollTrigger: {
                trigger: '#AG',
                start: 'left', // Trigger point
                end: 'center', // End point
                scrub: true,
            },
        });

        // // scale the green rectangle up as you scroll
        // gsap.to('#smallGreenRect',{
        //     scale: 400,
        //     duration: 2,
        //     ease: 'power2.inOut',
        //     scrollTrigger: {
        //         trigger: '#body2',
        //         start: '50% center', // Trigger point
        //         end: 'bottom center', // End point
        //         markers: true,
        //     },
        // })

        // create a timeline for the green rectangle so that it scales up and down
        let greenRect = gsap.timeline({
            scrollTrigger: {
                trigger: '#body2',
                start: '50% center', // Trigger point
                end: '+=1200', // End point
                scrub: true,
            },
            // if it reaches the end of body 1 it will reverse the animation
            onEnter: () => {
                greenRect.play()
            },
            onLeave: () => {
                greenRect.reverse()
            },
        })
        greenRect.to('#smallGreenRect',{
            scale: 400,
            duration: 2,
            ease: 'power2.inOut',
        })


        // make each box appear one after the other from the top fading in
        gsap.from('#rbox1', {
            y: -100,
            opacity: 0,
            duration: 0.3,
            delay: 0,
            scrollTrigger: {
                trigger: '#rbox1',
                start: 'top center', // Trigger point
                end: 'bottom center', // End point
            },
        });
        gsap.from('#rbox2', {
            y: -100,
            opacity: 0,
            duration: 0.3,
            delay: 0.3,
            scrollTrigger: {
                trigger: '#rbox2',
                start: 'top center', // Trigger point
                end: 'bottom center', // End point
            },
        });
        gsap.from('#rbox3', {
            y: -100,
            opacity: 0,
            duration: 0.3,
            delay: 0.6,
            scrollTrigger: {
                trigger: '#rbox3',
                start: 'top center', // Trigger point
                end: 'bottom center', // End point
            },
        });
        gsap.from('#rbox4', {
            y: -100,
            opacity: 0,
            duration: 0.3,
            delay: 0.9,
            scrollTrigger: {
                trigger: '#rbox4',
                start: 'top center', // Trigger point
                end: 'bottom center', // End point
            },
        });

        // animate the WWO text
        gsap.fromTo('#WWO', {
            opacity: 0,
            y: -100,
        }, {
            opacity: 1,
            y: 0,
            duration: 0.5,
            scrollTrigger: {
                trigger: '#WWO',
                start: 'top center', // Trigger point
                end: 'bottom center', // End point
            },
        });

        // animate the quote
        gsap.fromTo('#quote1', {
            opacity: 0,
            y: -100,
        }, {
            opacity: 1,
            y: 0,
            duration: 0.5,
            scrollTrigger: {
                trigger: '#quote1Trigger',
                start: 'top center', // Trigger point
                end: 'bottom center', // End point
            },
        });

        // animate the CTA button
        gsap.to('#CTABtn',{
            opacity: 1,
            scale:1,
            scrollTrigger: {
                trigger: '#WWO',
                start: 'left', // Trigger point
                end: 'bottom center', // End point
            },
        })

            // if the user has scrolled past 150px set the opacity of the AG to 0
    document.addEventListener('scroll', () => {
        let AG = document.getElementById('AG') as HTMLDivElement
        let scroll = window.scrollY
        if(scroll >= 250){
            AG.style.opacity = '0'
        } else {
            AG.style.opacity = '1'
        }
    })

    // change the graph when the user clicks on the button
    let Co2Value1 = document.getElementById('CO2value1') as HTMLSpanElement
    let Co2Value2 = document.getElementById('CO2value2') as HTMLSpanElement
    // let Co2Value3 = document.getElementById('CO2value3') as HTMLSpanElement

    let lineGraph1Width = 100
    let lineGraph2Width = 85
    let lineGraph3Width = 260

    let changeGraphButton = document.getElementById('changeGraphButton') as HTMLButtonElement

    function changeGraph(){
        // change the values of the graph
        Co2Value1.innerText = '2 metric tons'
        Co2Value2.innerText = '$400'
        // animate the graph when the user clicks on the button
    gsap.to('#lineGraph1',{
        width: lineGraph1Width,
        duration: 1,
        ease: 'power2.inOut',
    })
    gsap.to('#lineGraph2',{
        width: lineGraph2Width,
        duration: 1,
        ease: 'power2.inOut',
    })
    gsap.to('#lineGraph3',{
        width: lineGraph3Width,
        duration: 1,
        ease: 'power2.inOut',
    })
    }

    changeGraphButton.addEventListener('click', () => {
        changeGraph()
    })
    }, { once: false})


</script>

<Layout title="GreenBeen">
    <div class="w-[100vw] h-[100vh] p-10 flex sticky top-0" id="AG">
        <div class="w-screen sm:w-[50vw]">
            <h1 class='text-4xl font-medium'><span class="text-green-700">Green</span><span class="text-amber-600">Been</span></h1>
            <p class="text-xl pt-5">Saving the environment one <span id="changedWord" class="text-green-700 transition-all ease-in-out transform scale-0 w-96">roof</span> at a time 🌿</p>

            <p class="text-xl pt-5 pb-10">GreenBeen is a website that helps you find the best eco-friendly products for your home. We have a wide range of products that are eco-friendly and sustainable.</p>
            <a id="CTABtn" href="/" class=""><button class="bg-green-400 transition-colors ease-in-out outline p-3 rounded-full text-base">
                Go green today!
            </button></a>
        </div>
        <div class="w-[35vw] hidden sm:block">
            <img src={WateredPlant.src} alt="hero" class="w-[35vw] transition-all ease-out" id="AGIMG"/>
        </div>
    </div>
    <div id="body1" class="body1 flex flex-col sm:flex-row justify-evenly h-auto">
        <div id="" class="w-screen h-auto sm:h-[40vh] sm:w-[40vw]">
            <img src={BodyPic.src} alt="hero" class="sm:w-[40vw] transition-all ease-out" id="AGIMG"/>
        </div>
        <div class='flex flex-wrap justify-evenly w-auto h-[80vh]'>
            <div class="p-4 w-full sm:w-[50vw] flex-col mt-9">
                <p class="text-2xl font-semibold">The Importance of Green Energy Initiatives</p>
                <p class="text-lg">The world is at a critical juncture when it comes to environmental sustainability. Green energy initiatives are vital to mitigating the harmful effects of fossil fuels and combating climate change. By adopting renewable energy sources, we can make a significant positive impact on the environment.</p>
            </div>
        </div>
    </div>
    <div id="body2" class="flex flex-col-reverse sm:flex-row justify-evenly h-auto -z-50">
        <div class='flex flex-wrap justify-evenly w-auto h-[80vh]'>
            <div class="w-screen sm:w-[50vw] flex-col mt-9 p-4">
                <p class="text-2xl font-semibold">Why Choose GreenBeen?</p>
                <p class="text-lg">When you join GreenBeen, you become part of a thriving community dedicated to a greener, more sustainable future. Our website is regularly updated with the most current information, news, and trends in green energy and sustainability. Sign up for our newsletter to stay informed and connect with like-minded individuals who share your enthusiasm for eco-friendly living.</p>
            </div>
        </div>
        <div class="w-screen h-auto sm:h-[40vh] sm:w-[40vw]">
            <img src={BodyPic2.src} alt="hero" class="sm:w-[40vw] transition-all ease-out" id="AGIMG"/>
        </div>
    </div>
    <div class="w-10 h-10 bg-[#1e3e2c] rounded-full fixed z-0" id="smallGreenRect"></div>
    <div>
        <p class="text-center pb-10 text-4xl font-medium text-[#f0eab5] z-50" id="WWO">What We Offer</p>
        <p class=" text-center text-lg text-[#f0eab5] z-50 pb-10 animate-bounce" id="WWO">Click to learn more about each ↓</p>
        <div class="flex flex-wrap justify-evenly h-auto gap-5 z-10">
            <a href="/waysToSave/RenuableEnergyProgram"><div class="w-56 h-64 rounded-lg shadow-xl text-[#f0eab5] hover:drop-shadow-lg outline outline-slate-950 outline-1 text-center justify-evenly space-y-5 p-2" id="rbox1">
                <img src={CardPic1.src} transition:name="cImg1" alt="hero" class="w-40 h-auto rounded-md mx-auto"/>
                <p>Renewable Energy Programs</p> 
            </div></a>
            <a href="/waysToSave/costInsight"><div class="w-56 h-64 rounded-lg shadow-xl text-[#f0eab5] hover:drop-shadow-lg outline outline-slate-950 outline-1 text-center justify-evenly space-y-5 p-2" id="rbox2">
                <img src={CardPic2.src} transition:name="cImg2" alt="hero" class="w-40 h-auto rounded-md mx-auto"/>
                <p>Cost Insights</p>
            </div></a>
            <a href="/waysToSave/greenAndClean"><div class="w-56 h-64 rounded-lg shadow-xl text-[#f0eab5] hover:drop-shadow-lg outline outline-slate-950 outline-1 text-center justify-evenly space-y-5 p-2" id="rbox3">
                <img src={CardPic3.src} transition:name="cImg3" alt="hero" class="w-40 h-auto rounded-md mx-auto"/>
                <p>Green and Clean Energy Practices</p>
            </div></a>
            <a href="/waysToSave/sustainibility"><div class="w-56 h-64 rounded-lg shadow-xl text-[#f0eab5] hover:drop-shadow-lg outline outline-slate-950 outline-1 text-center justify-evenly space-y-5 p-2" id="rbox4">
                <img src={CardPic4.src} transition:name="cImg4" alt="hero" class="w-40 h-auto rounded-md mx-auto"/>
                <p>Sustainability Tips</p>
            </div></a>
        </div>
    </div>
    <div id="body3" class="flex flex-col sm:flex-row justify-evenly h-auto z-10 mt-24 text-[#f0eab5]">
        <div class="w-screen h-auto sm:h-[40vh] sm:w-[40vw]">
            <img src={BodyPic3.src} alt="hero" class="sm:w-[40vw] transition-all ease-out rounded-xl" id="AGIMG"/>
        </div>
        <div class='flex flex-wrap justify-evenly w-auto'>
            <div class="w-screen p-4 sm:w-[50vw] flex-col mt-9 h-96">
                <p class="text-2xl font-semibold">Tax Rebate</p>
                <p class="text-lg">Discover the numerous tax incentives offered by governments to homeowners who invest in green and clean energy solutions. Our comprehensive guides will help you navigate these rebate programs, ensuring you maximize your savings while making a significant contribution to the environment.</p>
                <a href="/taxRebate"><div class="flex mt-8"> 
                    <button class=" align-middle pr-2 underline underline-offset-4">
                        Learn More
                    </button>
                    <svg width="50" height="50" viewBox="0 0 114 114" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="57" cy="57" r="57" fill="#9498FF"/>
                        <path d="M60.1901 66.7656L59.05 68.4088L60.0977 69.1358L61.1988 68.4926L60.1901 66.7656ZM81.1903 54.5001L80.1908 52.7677L80.1816 52.7731L81.1903 54.5001ZM96.122 47.5182C96.4082 46.4514 95.7754 45.3545 94.7086 45.0683L77.3234 40.4041C76.2565 40.1179 75.1597 40.7507 74.8734 41.8175C74.5872 42.8844 75.22 43.9813 76.2869 44.2675L91.7404 48.4134L87.5945 63.8669C87.3083 64.9338 87.9411 66.0306 89.0079 66.3169C90.0748 66.6031 91.1716 65.9703 91.4579 64.9034L96.122 47.5182ZM38.1902 51.5004L39.3303 49.8573L38.1025 49.0053L36.9375 49.9413L38.1902 51.5004ZM61.1988 68.4926L82.199 56.2271L80.1816 52.7731L59.1815 65.0386L61.1988 68.4926ZM82.1898 56.2325L95.1898 48.7323L93.1909 45.2676L80.1908 52.7678L82.1898 56.2325ZM20.4428 68.3247L39.4428 53.0596L36.9375 49.9413L17.9375 65.2065L20.4428 68.3247ZM37.05 53.1436L59.05 68.4088L61.3303 65.1224L39.3303 49.8573L37.05 53.1436Z" fill="black"/>
                    </svg>   
                </div></a>
            </div>
        </div>
    </div>
    <!-- A section called whats the difference that has a bar graph and a button click me to find out that calls a function to change the graph -->
    <div id="body4" class="flex flex-col sm:flex-row justify-evenly w-auto h-auto z-10 mt-16 text-[#f0eab5]">
        <div class="w-full p-5 sm:p-4 sm:w-[50vw]">
        <p class="text-3xl font-semibold text-left pb-4">What's the Difference?</p>
        Embarking on the journey of transitioning to green energy is more than just a decision; it's a transformative leap towards a sustainable and eco-conscious lifestyle. Beyond the bold claims lies a tangible impact that reverberates across the environment, your community, and, most importantly, your own well-being.
        By making the switch to green energy, you are not merely embracing a trend; you are investing in a cleaner, healthier future. Picture your home powered by renewable energy sources, radiating an eco-friendly aura that not only reduces your carbon footprint but also sets a precedent for responsible living.
        </div>
        <div class='flex flex-col justify-center w-[45vw]'>
            <div class=" flex p-4 flex-col justify-center items-center w-full">
                <p class="text-2xl font-semibold text-center">See for yourself...</p>
                <div class="flex flex-col gap-4 pt-10 w-full">
                    <div class="flex flex-col gap-1">
                        <p class="text-[#f0eab5] text-lg">Emissions</p>
                        <div id="lineGraph1" class="h-2 w-96 bg-gradient-to-l rounded-full from-green-500 to-green-800"></div>
                        <p class="text-[#f0eab5] text-xs"><span id="CO2value1">48 metric tons</span> of carbon dioxide equivalents/per year</p>
                    </div>
                    <div class="flex flex-col gap-1">
                        <p class="text-[#f0eab5] text-lg">Electricity Bill</p>
                        <div id="lineGraph2" class="h-2 w-96 bg-gradient-to-l rounded-full from-orange-500 to-orange-800"></div>
                        <p class="text-[#f0eab5] text-xs"><span id="CO2value2">$1,480</span>/year</p>
                    </div>
                    <div class="flex flex-col gap-1">
                        <p class="text-[#f0eab5] text-lg">Animal Death Due to Pollution</p>
                        <div id="lineGraph3" class="h-2 w-1 bg-gradient-to-l rounded-full from-blue-500 to-blue-800"></div>
                        <p class="text-[#f0eab5] text-xs"><span id='CO2value3'>1 million animals</span>/year</p>
                    </div>
                </div>
                <button class=" p-2 rounded-md bg-green-400 text-black outline mt-5 w-auto" id="changeGraphButton">
                    After you switch
                </button>
            </div>
        </div>
    </div>
    <div id="testimonials" class="flex flex-col overflow-hidden pt-24">
        <p class="text-center pb-5 text-4xl font-medium text-[#f0eab5] z-10" id="WWO">What Our Customers Are Saying</p>
        <div class="flex flex-wrap h-auto w-screen gap-5 pt-16 justify-center" id="row1">
            <!-- create a bunch of rectangles -->
            <div class="w-72 text-base font-semibold rounded-lg h-auto align-middle bg-[#fee488] text-left p-5" id="rbox1">
                <p>
                    Thanks to GreenBeen, I found the perfect solar solution for my home – saving the planet and my wallet!
                </p>
                <div class="h-auto w-full flex pt-10 gap-10">
                    - Ryan Greenold
                    <!--  realistic avatar from https://getavataaars.com/ that is different for each testimonial -->
                    <img src="https://avataaars.io/?avatarStyle=Circle&topType=ShortHairShortFlat&accessoriesType=Blank&hairColor=BrownDark&facialHairType=Blank&clotheType=ShirtVNeck&clotheColor=Gray02&eyeType=Default&eyebrowType=DefaultNatural&mouthType=Smile&skinColor=Light" alt="avatar" class="w-10 h-10 rounded-full"/>
                    
                </div>
            </div>
            <div class="w-72 text-base font-semibold rounded-lg h-auto align-middle bg-[#fee488] text-left p-5" id="rbox1">
                <p>
                    GreenBeen's tax rebate info made going green a no-brainer; I wish I'd done it sooner!
                </p>
                <div class="h-auto w-full flex pt-16 gap-10">
                    - Emily Sheerwood
                    <!--  realistic avatar from https://getavataaars.com/ that is different for each testimonial -->
                    <img src="https://avataaars.io/?avatarStyle=Circle&topType=LongHairStraightStrand&accessoriesType=Blank&hairColor=BrownDark&facialHairType=Blank&clotheType=ShirtVNeck&clotheColor=Gray02&eyeType=Default&eyebrowType=DefaultNatural&mouthType=Smile&skinColor=Light" alt="avatar" class="w-10 h-10 rounded-full"/>
                    
                </div>
            </div>
            <div class="w-72 text-base font-semibold rounded-lg h-auto align-middle bg-[#fee488] text-left p-5" id="rbox1">
                <p>
                    Incredible resource for green living – GreenBeen's cost analysis page guided my choices and saved me money!
                </p>
                <div class="h-auto w-full flex pt-10 gap-10">
                    - Jim Hussam
                    <!--  realistic avatar from https://getavataaars.com/ that is different for each testimonial make this one bald -->
                    <img src="https://avataaars.io/" alt="avatar" class="w-10 h-10 rounded-full"/>
                </div>
            </div>
            <div class="w-72 text-base font-semibold rounded-lg h-auto align-middle bg-[#fee488] text-left p-5" id="rbox1">
                <p>
                    Transformed my home with GreenBeen's insights – from smart tech to eco-friendly practices, every tip makes a difference!
                </p>
                <div class="h-auto w-full flex pt-10 gap-10">
                    - Neil Patil Armstrong
                    <!--  realistic avatar from https://dicebear.com/avatars/ that is different for each testimonial -->
                    <img src="https://api.dicebear.com/7.x/avataaars/svg" alt="avatar" class="w-10 h-10 rounded-full"/>
                    
                </div>
            </div>
            <div class="w-72 text-base font-semibold rounded-lg h-auto align-middle bg-[#fee488] text-left p-5" id="rbox1">
                <p>
                    GreenBeen turned my eco-goals into a reality; their community support and sustainability tips are my daily inspiration
                </p>
                <div class="h-auto w-full flex pt-10 gap-10">
                    - Jessica Waltuh
                    <!--  realistic avatar from thispersondoesnotexist.com that is different for each testimonial -->
                    <img src="https://thispersondoesnotexist.com/" alt="avatar" class="w-10 h-10 rounded-full"/>
                    
                </div>
            </div>
            <div class="w-72 text-base font-semibold rounded-lg h-auto align-middle bg-[#fee488] text-left p-5" id="rbox1">
                <p>
                    GreenBeen empowered me to make eco-friendly choices effortlessly, from tax rebates to sustainable practices – now, my home is a beacon of green living!
                </p>
                <div class="h-auto w-full flex pt-4">
                    - Miachel J Jack
                    <!--  an random avatar from https://avatars.dicebear.com/ that is different for each testimonial -->
                    <img src="https://api.dicebear.com/7.x/notionists/svg" alt="avatar" class="w-10 h-10 rounded-full"/>
                </div>
            </div>

        </div>
    </div>
    <div id="CTO" class="flex flex-col justify-center h-screen z-50">
        <p class="text-center pb-1 text-4xl font-medium text-[#f0eab5]" id="WWO">What are you waiting for?</p>
        <p class="text-center pb-5 text-lg font-medium text-[#f0eab5]" id="WWO">Make a positive change one baby step at a time</p>
        <a id="CTABtn" href="/" class="mx-auto opacity-0"><button class="bg-[#9498FF] hover:bg-green-400 transition-colors ease-in-out outline p-2 w-40 h-14 rounded-full">
            Go green today!
        </button></a>
    </div>
</Layout>